
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #8275FD; /* Light lilac background */
    color: #412DFC; /* Dark slate text color */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #8275FD; /* Deep lilac purple */
    border-bottom: 1px solid #6451fb; /* Slightly darker border */
  }
  
  .nav-link {
    color: #faf8ff; /* Soft white */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .nav-link:hover {
    color: #ddcdfe; /* Lighter lilac shade for hover effect */
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    height: 100%;  /* Aligns with the navbar height */
  }
  .nav-right {
    display: flex;
    align-items: center;
    height: 100%;  /* Aligns with the navbar height */
    gap: 35px;
  }

  .custom-button {
    background-color: #8275FD;  /* Match navbar background color */
    border: none;  /* Remove border to blend with navbar */
    color: white;  /* Text color to match the navbar theme */
    padding: 0;  /* Remove extra padding */
    box-shadow: none;  /* Remove any button shadow */
  }
  
  .custom-button .pi {
    font-size: 1.5rem;  /* Adjust icon size if needed */
  }
  .custom-button:hover {
    color: #6451fb;
  }