.profile-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.match-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.match-card {
  background-color: #f9faff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding-left: 1rem;
}

.champions-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.blue-side-column, .red-side-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.lane {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blue-side-ign {
  width: 80px;
  text-align: right;
  font-size: 0.8rem;
  color: #7D94F2;
}

.red-side-ign {
  width: 80px;
  text-align: left;
  font-size: 0.8rem;
  color: #FF9A9A;
}

.lane img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.champion-icon-container {
  position: relative;
  display: inline-block;
}

.user-champion-icon {
  width: 60px;
  height: 60px;
  border-radius: 25%; /* Fully round the edges */
}

.champion-level {
  position: absolute;
  bottom: 4px;
  left: 2px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  color: #fff;
  border-radius: 50%; /* Circular shape */
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px; /* Adjust size to fit */
  height: 25px;
  text-align: center;
  border: 1px solid white;
  font-size: 12px;
}

.lane {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blue-rank-icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.red-rank-icon {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.rank-icon-container {
  position: relative;
  display: inline-block;
}

.rank-icon {
  width: 30px; /* Adjust size as needed */
  height: 30px;
}

.rank-tier {
  position: absolute;
  bottom: 0;
  left: 2px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  padding: 1px 2px;
  border-radius: 3px;
  font-size: 0.6rem;
  font-weight: bold;
}
