.profile-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
}
.profile-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  border: 4px solid #6451fb; /* Purple border for a clean look */
  margin-bottom: -20px;
}
.match-cards {
  display: flex;
  flex-direction: column;
  margin-right: 520px;
  margin-top: 25px;
  gap: 1rem;
}

.match-card {
  background-color: #f9faff;
  border-radius: 8px;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow to text */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add shadow to text */
}

.champions-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.blue-side-column, .red-side-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}

.item-grider {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lane .blue-champ {
  width: 60px;
  height: 60px;
  border: 2px solid #FF9A9A;
}
.lane .red-champ {
  width: 60px;
  height: 60px;
  border: 2px solid #7D94F2;
}
.lane {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blue-side-ign {
  width: 80px;
  text-align: right;
  font-size: 1rem;
  color: #7D94F2;
}

.red-side-ign {
  width: 80px;
  text-align: left;
  font-size: 1rem;
  color: #FF9A9A;
}

.lane img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.champion-icon-container {
  position: relative;
  display: inline-block;
}

.user-champion-icon {
  width: 60px;
  height: 60px;
  border-radius: 25%; /* Fully round the edges */
}

.champion-level {
  position: absolute;
  bottom: -3px;
  left: -8px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  color: #fff;
  border-radius: 50%; /* Circular shape */
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px; /* Adjust size to fit */
  height: 25px;
  text-align: center;
  border: 2px solid black;
  font-size: 12px;
}

.lane {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blue-rank-icon {
  width: 18px;
  height: 18px;
}

.red-rank-icon {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.rank-icon-container-blue {
  position: absolute;
  margin-left: 450px;
  margin-top: 40px;
  border-radius: 50%;
  background-color: #BF9AF7;
  border: 2px solid #6451fb;
  height: 35px;
  width: 35px;
}
.rank-icon-container-red {
  position: absolute;
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 50%;
  background-color: #BF9AF7;
  border: 2px solid #6451fb;
  height: 35px;
  width: 35px;
}

.rank-icon-container-blue[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75); /* Dark background */
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.rank-icon-container-red[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75); /* Dark background */
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.rank-icon-container[data-tooltip]::after {
  opacity: 0;
  pointer-events: none;
}


.rank-icon {
  width: 10px; /* Adjust size as needed */
  height: 10px;
}

.rank-tier-blue {
  position: absolute;
  bottom: 0;
  left: 4px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  padding: 1px 2px;
  border-radius: 3px;
  font-size: 0.6rem;
  font-weight: bold;
}
.rank-tier-red {
  position: absolute;
  bottom: 0;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  padding: 1px 2px;
  border-radius: 3px;
  font-size: 0.6rem;
  font-weight: bold;
}

.items-section {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust spacing between item icons */
}

.match-header {
  display: flex;
  align-items: center;
}
.items {
  display: flex;
  gap: 1px;
}

.item-grider .item-icon-red {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  border: 2px solid #7D94F2;
}
.item-grider .item-icon-blue {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  border: 2px solid #FF9A9A;
}

.item-icon {
  width: 60px;
  height: 60px;
  border-radius: 25%;
  border: 2px solid black;
}

.empty-item {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid black;
}

.empty-item-blue {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #7D94F2;
}
.empty-item-red {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #FF9A9A
}
.empty-icon {
  width: 60px;
  height: 60px;
  border-radius: 25%;
  border: 2px solid black;
}
.damage-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.damage-bar-container {
  width: 60px;
  height: 6px;
  background-color: #EEE;
  border-radius: 3px;
  display: flex;
  overflow: visible;
  margin: 0 0.5rem;
  position: relative;
}

/* Individual bar colors */
.red-bar {
  background-color: #FF4C4C;
}

.blue-bar {
  background-color: #4C6EFF;
}

.white-bar {
  background-color: black;
}

.total-damage {
  margin-top: 4px;
  font-size: 0.65rem;
  color: #333;
  text-align: center;
}
.rune-icon {
  width: 60px;
  height: 60px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

.damage-bar {
  height: 100%;
  position: relative;
}

.damage-bar[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -20px; /* Adjust as needed to position above the bar */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.damage-bar[data-tooltip]::after {
  opacity: 0;
  pointer-events: none;
}

.match-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.result-duration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}

.summoner-spells {
  display: flex;
  flex-direction: column; /* Stack icons vertically */
  align-items: center;
  gap: 4px; /* Space between the icons */
  margin: 0 10px; /* Adjust space between champion icon and items */
}

.summoner-spell-icon {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  border: 2px solid black;
  border-radius: 25%;
}


.kda-kp, .farm-solo-kills {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.match-result {
  font-weight: bold;
}

.game-duration, .kda, .farm-solo-kills, .kda-kp {
  font-size: 0.85rem;
}
.corner-rune-icon {
  position: absolute;
  bottom: -5px;  /* Aligns icon to the bottom of the container */
  right: -15px;   /* Aligns icon to the right of the container */
  width: 30px; /* Adjust size as needed */
  height: 30px;
  border-radius: 50%; /* Optional: rounds the icon */
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.icon-button {
  background-color: #6451fb; /* Purple theme color for default state */
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px; /* Rounded corners on top */
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.icon-button:hover,
.icon-button.active {
  background-color: #907be2; /* Change color only on hover or when active */
}

.icon-button:focus {
  outline: none;
}



.dropdown-content {
  padding: 0.5rem;
  background-color: #f1f1f1;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 20px;
}

.control-wards {
  position: relative; /* Allows positioning of the tooltip relative to this element */
  display: flex;
  flex-direction: column; /* Ensures items stack vertically */
  justify-content: center; /* Centers items vertically */
  align-items: center; /* Centers items horizontally */
  cursor: pointer; /* Changes cursor to indicate interactivity */
}

.control-wards::after {
  content: attr(data-tooltip); /* Dynamically display the tooltip text */
  visibility: hidden; /* Hidden by default */
  opacity: 0; /* Transparent by default */
  position: absolute; /* Positioned relative to .control-wards */
  top: -35px; /* Position the tooltip above the element */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center alignment */
  background-color: #333; /* Dark background */
  color: #fff; /* White text */
  text-align: center; /* Center text */
  padding: 5px 10px; /* Padding around the tooltip text */
  border-radius: 5px; /* Rounded corners */
  white-space: nowrap; /* Prevent text wrapping */
  z-index: 10; /* Ensures the tooltip appears above other elements */
  transition: opacity 0.3s ease; /* Smooth fade-in transition */
  pointer-events: none; /* Ensures the tooltip doesn't interfere with hovering */
}

.control-wards:hover::after {
  visibility: visible; /* Show the tooltip on hover */
  opacity: 1; /* Fully opaque */
}

.top-container {
  display: flex; /* Align elements in a single row */
  flex-wrap: wrap; /* Allow elements to wrap if they don't fit in a single row */
  align-items: center; /* Align content vertically */
  gap: 20px; /* Add spacing between sections */
}

.vision,
.objectives {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  bottom: 0; /* Aligns to the bottom of the parent */
  left: 0; /* Aligns to the left */
  gap: 15px; /* Add spacing between individual items */
}

.control-wards {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  gap: 8px; /* Add spacing between icon and text */
}
.profile-details {
  display: flex; /* Arrange icon and rank info horizontally */
  position: relative;
  justify-content: space-between; /* Space between the sections */
  align-items: flex-start; /* Align items at the top */
  gap: 20px; /* Add space between the profile section and rank info */
  background-color: #BF9AF7;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 1600px;
}

.profile-icon-section {
  display: flex;
  flex-direction: row; /* Stack icon and summoner name vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text for the summoner name */
  gap: 15px;
}

.profile-icon-container {
  position: relative;
  gap: 100px;
  width: 200px; /* Define a fixed size for the profile icon */
  height: 200px;
}

.profile-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Make the profile icon circular */
  object-fit: cover;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
} 


.profile-level {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #6451fb;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.profile-header h1 {
  font-size: 128px; /* Largest font size for IGN */
  font-weight: bold; /* Thick text */
  text-transform: uppercase; /* Capitalize all letters */
  margin: -25px; /* Add vertical spacing */
  margin-top: -40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow to text */
}

.profile-header h2 {
  margin: -75px;
  font-size: 64px;
  font-weight: bold;
  color: whitesmoke;
  margin-top: -100px;
  text-align: end;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow to text */
}

.profile-header h3 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin: 30px;
  margin-left: 0px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow to text */
}

.profilerank-info {
  display: flex;
  flex-direction: row; /* Arrange rank icon and details horizontally */
  align-items: center; /* Align rank icon and text vertically */
  gap: 10px; /* Add space between rank icon and details */
}

.profilerank-icon-container {
  width: 80px; /* Define a fixed size for the rank icon */
  height: 80px;
}
.profile-header {
  text-align: left;
  margin: -10px;
}

.profilerank-icon {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the icon scales properly */
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 50%;
  border: 3px solid #6451fb;
}

.profilerank-details {
  flex-grow: 1; /* Allow the rank details to take up remaining space */
}

.rank-and-tier {
  font-size: 16px;
  font-weight: bold;
}

.games-played {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

.rank-details {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  position: relative;
}

.rank-details h1 {
  font-size: 64px;
  font-weight: bold;
  color: #33332f;
  margin-right: 175px;
  display: inline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow to text */
}

.rank-details h2 {
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
  text-align: end;
  margin-right: 80px;
  margin-bottom: 100px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow to text */
  
}

.rank-details h3 {
  font-size: 32px;
  font-weight: bold;
  color: whitesmoke;
  text-align: end;
  margin-right: 220px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow to text */
}

.rank-details-text {
  position: absolute; /* Place the text absolutely relative to .rank-details */
  z-index: 2; /* Ensure the text is above the icon */
  color: white; /* Optional: Change text color for visibility */
  font-weight: bold; /* Make the text more prominent */
  text-align: flex-start;
  margin-bottom: -75px;
}
.offset-wr {
  transform: translateX(40px);
}
.offset-games {
  transform: translateX(10px);
}
.rank-icon-details {
  height: 215px;
  width: 215px;
  object-fit: contain; /* Ensure the icon scales proportionally */
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #F4DAFA;
  border: 3px solid #6451fb;
}

.rank-details-icon {
  position: relative; /* Icon remains within the .rank-details */
  z-index: 1; /* Ensure the icon is below the text */
  margin-bottom: 60px; /* Optional: Adjust spacing to fine-tune positioning */
}

.text-bg {
  background-color: #6451fb; /* Desired background color */
  padding: 5px; /* Optional: adds a bit of space around the text */
  display: inline; /* Keeps the background tight around the text */
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
